SLACK_BOT_TOKEN=
SLACK_APP_TOKEN=
SLACK_DEMO_CHANNEL_ID=
OPENAI_API_KEY=
DRII_TEXT_MODEL=gpt-4.1-2025-04-14
DRII_TRANSCRIPTION_MODEL=gpt-4o-transcribe-diarize
DRII_EMBEDDING_MODEL=text-embedding-3-small
CLICKHOUSE_URL=
CLICKHOUSE_USER=
CLICKHOUSE_PASSWORD=
CLICKHOUSE_DATABASE=default
